<h1>
  Categoriess
  <a {{action newCategory}} class="btn btn-success">
    <i class="icon-white icon-plus"></i>
    New Category
  </a>
</h1>

<br/>

<div class="row">
  {{#if controller.content}}
    <div class="span10">
      <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th style="width: 25px;"></th>
            </tr>
          </thead>
          <tbody>
            {{#each category in controller}}
              {{view Spikes.CategoryView categoryBinding="category"}}
            {{/each}}
          </tbody>
        </table>
      </div>
  {{else}}
    <div class="span6 loading">
      Loading categories...
    </div>
  {{/if}}
</div>

