@import "compass/reset";
@import "compass";
@import "bootstrap";
@import "font-awesome";

#content {
  margin-top: 40px;
}

.loading {
  background: image-url('loader.gif') no-repeat bottom center;
  padding-bottom: 25px;
  text-align: center;
}
