@import "compass/reset";
@import "compass";
@import "bootstrap";
@import "font-awesome";

#content {
  margin-top: 40px;
}

.loading {
  background: image-url('loader.gif') no-repeat bottom center;
  padding-bottom: 25px;
  text-align: center;
}

a.icon-big {
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  @include transition(all .2s ease-in-out);
}

a.icon-big:hover {
  text-decoration: none;
  @include scale(1.5);
}

a.icon-black  { color: black; }
a.icon-danger { color: #9D261D; }

input.inline-input, input.inline-input:focus  {
  @include box-shadow(none);
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

@import "bootstrap-responsive";
